.ColumnDatos{  
    font-size: 18px;
    position: absolute;
    left: 26%;
    width: 74%;
    background-color: rgb(255, 255, 255);
}
.ColumnDatos--bold{
    font-weight: bold;
}

.Titulo{   
    text-align: center;
    font-family: Arial Black;
    font-size: 30px;
    color: #003535;
}

.AgregarBTN{
    background-color: #003535;
    position: relative;
    top: 1%;
    left: 4%;
    border: none;
    color: white;
    padding: 9px;
    width: 92%;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.AgregarBTN:hover {
    cursor: pointer;
    background-color: white;
    color: #003535;
    border: 3px solid #003535;
}